@import '../../../../styles/index.scss';
.form {
  display: flex;
  flex-direction: column;
  width: 380px;
  gap: 12px;
  padding: 100px 20px 100px;
  margin: auto;
}

.buttonDisable {
  background-color: $color-complementary-2;
  color: $color-complementary-3;

  &:hover {
    background-color: $color-complementary-2;
    box-shadow: none;
  }

  &:active {
    background-color: $color-complementary-2;
    box-shadow: none;
    color: $color-complementary-3;
  }
}
