@import '../../styles/index.scss';

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  max-width: $wrapper-main-desktop;
  margin: 0 auto;
  padding: 250px 0 220px;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: calc($media-desktop - 1px)) {
    margin: 0 $margin-blocks-sides-formula-tablet;
  }

  @media screen and (max-width: calc($media-desktop-s - 1px)) {
    grid-template-columns: 1fr;
    row-gap: 40px;
    padding-top: 160px;
    padding-bottom: 159px;
  }
}

.wrapperServer {
  padding-top: 218px;

  @media screen and (max-width: calc($media-desktop-s - 1px)) {
    row-gap: 0;
    padding-top: 120px;
    padding-bottom: 159px;
  }
}

.info,
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  row-gap: 60px;
  align-self: center;
}

.infoServer {
  margin-top: 44px;
}

.text {
  row-gap: 20px;
}

.textServer {
  @media screen and (max-width: calc($media-desktop-s - 1px)) {
    row-gap: 16px;
  }
}

.heading,
.description {
  @include render-font();
}

.heading {
  font-size: $font-size-heading-accent;
  color: $color-main-text-3;
  letter-spacing: 0.9px;
  text-align: center;
}

.description {
  white-space: pre-wrap;
  text-align: center;
}

.descriptionServer {
  font-size: $font-size-main-text-l;

  @media screen and (max-width: calc($media-desktop-s - 1px)) {
    font-size: $font-size-main-text;
  }
}

.button {
  border: 1px solid $color-main-3;
}
