@import '../../styles/index.scss';

.item {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.link {
  @include renderFont(
    $size: $font-size-main-text-l,
    $line-height: $font-line-height-main-text-l,
    $color: $color-secondary-4,
  );

  transition: $animation-transition-common;

  &:hover {
    color: $color-main-3;
  }

  &:active {
    color: $color-secondary-2;
  }
}
