$color-main-1: #fff;
$color-main-2: #f0f9fb;
$color-main-3: #1e5f6c;
$color-main-4: #006475;
$color-main-5: #00262e;

$color-main-text-1: #323232;
$color-main-text-2: #212121;

$color-secondary-1: #c3c3c3;
$color-secondary-2: #6f99a1;
$color-secondary-3: #15444e;
$color-secondary-4: #c4c4c4;

$color-complementary-1: #ececec;
$color-complementary-2: #e1e1e1;
$color-complementary-3: #898989;
$color-complementary-4: #484848;
$color-complementary-5: #383838;
$color-complementary-6: #1d1d1d;
$color-complementary-7: #253f47;
$color-complementary-8: #d6d6d6;

$color-additional-1: #e1faff;
$color-additional-2: #cde3e8;
$color-additional-3: #565454;
$color-additional-4: #1f1f1f;
$color-additional-5: #2d8496;
$color-additional-6: #5aabc3;
$color-additional-7: #b2b2b2;

$color-accent-promo: #ffed00;
$color-accent-promo-additional-1: #e9d100;
$color-accent-promo-additional-2: #fefdbe;
$color-accent-promo-additional-3: #a39305;
$color-accent-promo-additional-4: #fff066;
$color-accent-promo-additional-5: #f3e200;
