@import '../../styles/index.scss';

.section {
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  max-width: $wrapper-main-desktop;
  margin: 0 auto;
  padding: 105px 0 150px;
}

.heading {
  @include render-font(
    $family: var(--font-raleway),
    $weight: 600,
    $size: $font-size-heading,
    $line-height: $font-line-height-heading,
    $color: $color-main-text-2
  );
  text-transform: uppercase;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(373px, auto));
  column-gap: 20px;
  row-gap: 60px;
  width: 100%;
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  text-align: center;
  width: 100%;
}

.decorativeTileLeft {
  position: absolute;
  top: 284px;
  left: 0;

  background: url(../../../public/assets/icons/tile-1.svg) center no-repeat;
  width: 90px;
  height: 169px;
}

.decorativeTileRight {
  position: absolute;
  right: 0;
  bottom: 0;

  background: url(../../../public/assets/icons/tile-2.svg) center no-repeat;
  width: 80px;
  height: 48px;
}
