@import '../../styles/index.scss';

.section {
  position: relative;

  @media screen and (max-width: calc($media-laptop - 1px)) {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  max-width: $wrapper-main-desktop;
  margin: 0 auto;
  padding: 105px 0 150px;

  @media screen and (max-width: calc($media-desktop - 1px)) {
    margin: 0 $margin-blocks-sides-formula-tablet;
  }

  @media screen and (max-width: calc($media-laptop - 1px)) {
    padding: $padding-half-blocks-top-btm-tablet 0
      $padding-full-blocks-top-btm-tablet;
  }
}

.heading {
  @include render-font(
    $family: var(--font-raleway),
    $weight: 600,
    $size: $font-size-heading,
    $line-height: $font-line-height-heading,
    $color: $color-main-text-2
  );
  text-transform: uppercase;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(373px, auto));
  justify-content: center;
  column-gap: 20px;
  row-gap: 60px;
  width: 100%;

  @media screen and (max-width: calc($media-laptop - 1px)) {
    grid-template-columns: repeat(auto-fill, minmax(auto, 314px));
    row-gap: 70px;
  }
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  text-align: center;
  width: 100%;
}

.decorativeTileLeft {
  position: absolute;
  top: 284px;
  left: 0;

  background: url(../../../public/assets/icons/tile-1.svg) center no-repeat;
  width: 90px;
  height: 169px;

  @media screen and (max-width: calc($media-laptop - 1px)) {
    top: 144px;
    left: -42px;
  }
}

.decorativeTileRight {
  position: absolute;
  right: 0;
  bottom: 0;

  background: url(../../../public/assets/icons/tile-2.svg) center no-repeat;
  width: 80px;
  height: 48px;

  @media screen and (max-width: calc($media-laptop - 1px)) {
    right: -9px;
  }
}
