@import '../../styles/index.scss';

.servicesTranslation {
  background-color: $color-main-3;
  color: $color-main-1;
}

.containerOuter {
  max-width: 1440px;
  margin: 0 auto;
}

.containerInner {
  display: grid;
  grid-template-columns: 53.8% auto;
  max-width: $wrapper-main-desktop;
  margin-left: 140px;
}

.info {
  position: relative;
  padding: 130px 0;
}

.title {
  margin: 40px 0;

  @include renderFont(
    $family: var(--font-raleway),
    $weight: 600,
    $size: $font-size-heading,
    $line-height: $font-line-height-subheading,
    $color: $color-main-1
  );

  text-transform: uppercase;
}

.description {
  margin-bottom: 39px;
  max-width: 570px;

  @include renderFont();

  color: $color-main-1;
}

.button {
  width: fit-content;
  background-color: $color-main-1;
  color: $color-main-text-2;

  &:hover {
    background-color: $color-additional-1;
    box-shadow: inset 2px 7px 4px $color-main-1;
  }

  &:active {
    background-color: $color-additional-2;
    box-shadow: inset 1px 4px 4px #B3B3B3;
    color: $color-additional-3;
  }
}

.decorativeTile {
  position: absolute;
  right: 0;
  bottom: 0;

  background: url(../../../public/assets/icons/tile-4.svg) center no-repeat;
  width: 119px;
  height: 79px;
}
