@import '../../styles/index.scss';

.footer {
  width: 100%;

  background-color: $color-main-5;
}

.wrapper {
  max-width: $wrapper-main-desktop;
  margin: 0 auto;
  padding: 130px 0 50px;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 100px;
  margin: 0 0 111px;
}

.logoLink {
  align-self: flex-start;
}

.copyright {
  @include renderFont(
    $size: $font-size-main-text-s,
    $line-height: $font-line-height-main-text-s,
    $color: $color-secondary-4,
  )
}

.contacts {
  align-self: flex-end;
}

.listIcon {
  display: flex;
  align-items: center;
  margin: 0 0 9px;
}

.icon {
  margin: 0 11px 0 0;
  width: 33px;
  height: 32px;

  &:last-child {
    margin: 0;
  }
}

.iconLink {
  display: inline-block;
  width: 33px;
  height: 32px;

  border-radius: 100%;
  overflow: hidden;

  transition: $animation-transition-common;
}

.iconSvg {
  fill: #6F99A1;
}

.email {
  @include renderFont(
    $size: $font-size-main-text-s,
    $line-height: $font-line-height-main-text-s,
    $color: $color-secondary-4,
  )
}
