@import '../../styles/index.scss';

.facts {
  padding-top: 35px;
  padding-bottom: 26px;

  background-color: $color-main-2;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: $wrapper-main-desktop;
  margin: 0 auto;

  list-style: none;

  :nth-of-type(3n + 2) {
    border-left: 1px solid $color-complementary-2;
    border-right: 1px solid $color-complementary-2;
  }
}

.listItem {
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 100%;
  margin-top: -2px;
  padding-bottom: 2px;

  :nth-of-type(3n + 2) {
    border: none;
  }
}
