@import '../../styles/index.scss';

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  margin: 70px auto 0;
}

.content {
  max-width: 425px;
  padding-top: 16px;
}

.subtitle {
  display: block;
  width: fit-content;
  padding: 6px 21px;
  @include renderFont(
    var(--font-manrope),
    400,
    $font-size-main-text-s,
    $font-line-height-main-text-s,
    $color-main-text-1
  );

  border: 1px solid $color-accent-promo;
  border-radius: 40px;
}

.headingImage {
  margin-top: 10px;
}

.description {
  margin: 35px 0 40px;
  @include renderFont();
}

.button {
  display: block;
  width: fit-content;
  min-width: 120px;
  text-align: center;
}

.photo {
  margin-right: -54px;
}
