@import '../abstracts/variables/colors.scss';
@import '../abstracts/variables/fonts.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  background-color: $color-main-1;
  border-bottom: 1px solid $color-complementary-1;
}

.container {
  display: flex;
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto;
  padding: 20px 140px;
}

.logo {
  height: 58px;
  width: 50px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 63px;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size-main-text-l;
  line-height: 1.375;
  color: $color-main-text-2;
}

.navigationMenu {
  display: flex;
  gap: 80px;
}

.navigationAuth {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navigationLink {
  position: relative;
  padding: 0 10px;
  color: $color-main-text-2;
  &:hover {
    color: $color-main-3;
    &::before {
      content: '';
      position: absolute;
      left: calc(50% - 2px);
      top: 28px;
      height: 4px;
      width: 4px;
      background-color: $color-main-3;
      border-radius: 2px;
    }
  }
}

.dropDownMenuNavigationLink {
  position: relative;
  padding-left: 10px;
  font-size: $font-size-main-text;
  color: $color-main-text-2;
  &:hover {
    color: $color-main-3;
    &::before {
      content: '';
      position: absolute;
      left: -2px;
      top:  calc(50% - 2px);
      height: 4px;
      width: 4px;
      background-color: $color-main-3;
      border-radius: 2px;
    }
  }
}

.dropDownMenu {
  position: relative;
}

.dropDownMenuButton {
  padding: 0;
  background-color: $color-main-1;
  border: 0;
  cursor: pointer;
  &:hover {
    color: $color-main-3;
    &::before {
      content: '';
      position: absolute;
      left: calc(50% - 2px);
      top: 28px;
      height: 4px;
      width: 4px;
      background-color: $color-main-3;
      border-radius: 2px;
    }
  }
}

.navigationText {
  margin-right: 10px;
}

.dropDownMenuContainer {
  position: absolute;
  top: 20px;
  left: -10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 202px;
  padding: 0;
  gap: 0;
  background-color: $color-main-1;
  border: 1px solid $color-complementary-1;
  border-radius: 0 0 20px 20px;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease;
}

.dropDownMenuContainerActive {
  top: 60px;
  left: -26px;
  min-width: 234px;
  padding: 16px;
  gap: 14px;
  visibility: visible;
  opacity: 1;
  transition: all 1s ease;
}

