@import '../../../styles/index.scss';
.Formik {
  display: flex;
  flex-direction: column;
  width: 380px;
  gap: 12px;
  padding: 100px 20px 100px;
  margin: auto;
}

.buttonDisable {
  background-color: gray;

  &:hover {
    background-color: gray;
  }

  &:active {
    background-color: gray;
  }
}
