@import '../../styles/index.scss';

.wrapper {
  max-width: $wrapper-main-desktop;
  margin: 0px auto;
  padding: 150px 0 105px;

  @media screen and (max-width: calc($media-desktop-s - 1px)) {
    border-radius: 0;
  }
}

.content {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include render-font(
    $family: var(--font-raleway),
    $weight: 600,
    $size: $font-size-heading,
    $line-height: $font-line-height-heading,
    $color: $color-main-text-2
  );

  text-transform: uppercase;

  @media screen and (max-width: calc($media-desktop-s - 1px)) {
    padding-left: 60px;
  }
}

.list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 373px);
  gap: 20px;

  margin-top: 100px;
  padding-bottom: 50px;
  width: 100vw;
  max-width: calc($wrapper-main-desktop + 60px * 2);

  overflow-x: scroll;
  overflow-y: visible;

  &:first-of-type {
    padding-left: 60px;
  }

  &:last-of-type {
    padding-right: 60px;
  }

  &::-webkit-scrollbar {
    width: 0px;
  }

  &:-webkit-scrollbar-track {
    background: #2F2F37;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0;
    border: none;
  }

  @media screen and (max-width: calc($media-desktop-s - 1px)) {
    max-width: calc(100vw + 60px * 2);
    gap: 52px;
    border-radius: 0;
  }
}

.decoration {
  position: absolute;
  bottom: 6px;
  z-index: $z-index-below-content-default;

  width: calc(100% + 100px);
  height: 196px;

  background-color: $color-main-2;
  border-radius: 100px;

  @media screen and (max-width: calc($media-desktop-s - 1px)) {
    border-radius: 0;
    width: 100vw;
  }
}
