@import '../../styles/abstracts/variables/colors.scss';
@import '../../styles/abstracts/variables/fonts.scss';
@import '../../styles/abstracts/mixins.scss';

@mixin absolute-element($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

.signup {
  position: relative;
  width: 100%;
  background-color: $color-main-2;
}

.mainContainer {
  max-width: 1440px;
  display: flex;
  gap: 128px;
  margin: 0 auto;
  padding: 150px 140px;
  box-sizing: border-box;
}

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.subContainer {
  display: flex;
  flex-direction: column;
  margin: 80px 0 29px;
  & > span {
    margin: 8px  0 144px;
  }
}

.image {
  transform: translate(-27px, 23px);
}

.title {
  @include renderFont(
    $family: var(--font-raleway),
    $weight: 600,
    $size: $font-size-heading,
    $line-height: $font-line-height-heading,
    $color: $color-main-text-2
  );
  text-transform: uppercase;
}

.text {
  @include renderFont(
    $size: $font-size-main-text,
    $line-height: 1.42,
    $color: $color-main-text-1
  );
}

.selectedText {
  padding: 2px 16px 5px;
  margin-right: 6px;
  background-color: $color-accent-promo;
  border-radius: 50px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 20px;
  padding-left: 26px;
  list-style: url(../../../public/assets/icons/Ellipse.svg);
}

.button {
  width: fit-content;
}

.bonus {
  @include absolute-element(calc(50% - 91px),  calc(50% - 141px));
  z-index: 2;
}

.iconText {
  width: 211px;
  border-radius: 40px;
  padding: 16px 22px 13px;
  @include renderFont(
    $weight: 500,
    $size: $font-size-main-text-l,
    $line-height: 1.38,
    $color: $color-main-text-1
  );
  text-transform: uppercase;
  background: $color-main-1;
  box-shadow: 0 4px 10px rgba(30, 95, 108, 0.1);
}

.iconGift {
  @include absolute-element(-41px,168px);
  height: 53px;
  width: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-accent-promo;
  border-radius: 50%;
}

.arrow {
  @include absolute-element(24px, calc(100% + 6px));
}

.decorativeTileRight {
  position: absolute;
  right: 0;
  bottom: 0;

  background: url(../../../public/assets/icons/tile-3.svg) center no-repeat;
  width: 114px;
  height: 145px;

  transform: translateY(73px);
}
